
<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-icon *ngIf="!total == 0" (click)="cerrar()" style="font-size: 40px;color:#ed455f;margin-left: 2%;" name="close-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-title style="font-size: 14px">CARRITO DE COMPRAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list id="listado">
    <ion-list-header *ngIf="!total == 0" style="font-size: 17px;">
      <h5>Listado de Empanadas agregadas.</h5>
    </ion-list-header>

    <ion-list-header>
      <h5 style="font-size: 17px;font-weight: bold;" *ngIf="total > 0">Total: ${{PrecioTotal}}</h5>
    </ion-list-header>

    <ion-grid *ngFor="let item of verPedido; let i = index">
      <ion-item style="margin-top: 3%;" *ngIf="item.cantidad > 0">
        <ion-thumbnail slot="start">
          <img [src]="item.imagen">
        </ion-thumbnail>
        <ion-label>
          <h2>ID Producto: {{item.id}}</h2>
          <h2>Precio del producto ${{item.precio | number}}</h2>
          <h2>Cantidad: {{item.cantidad}}</h2>
          <h2>{{item.titulo}}</h2>
          <h2 style="margin-top: 2%;background: darkgoldenrod;border-radius: 3px;padding: 2px;text-align: center;">Total: ${{item.precio*item.cantidad | number}}</h2>
        </ion-label>
      </ion-item>
    </ion-grid>
    <ion-col *ngIf="total == 0" style="margin: auto;display: block;">
      <ion-icon style="font-size:120px;color: rgb(173, 170, 170);margin: auto;display: block;margin-top: 5%;" name="cart"></ion-icon>
      <p style="text-align: center;padding: 5%;">Lo sentimos, no tienes empanadas agregadas al carrito</p>
      <ion-button (click)="agregarAlCarrrito()" expand="block" color="success">Agregar  <ion-icon name="add"></ion-icon></ion-button>
    </ion-col>
    <ion-row *ngIf="!total == 0"> 
      <ion-col>
        <div>
          <ion-button (click)="vaciarProducto()" expand="block" color="primary">VACIAR CARRITO</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button (click)="enviarProductos()" expand="block" color="success">ENVIAR PEDIDO</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list id="formulario" style="display: none;">

    <ion-grid>
  
      <ion-item style="margin-top: 4%;">
        <ion-label position="stacked">Nombres <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="nombres" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="direccion" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Teléfono <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="telefono" type="number"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Correo electronico <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Nota <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea [(ngModel)]="nota" type="text"></ion-textarea>
      </ion-item>

      <ion-row style="margin-top: 10%;">
        <ion-col>
          <ion-button (click)="VolverPedido()" expand="block" color="warning"><ion-icon name="arrow-back"></ion-icon>Volver</ion-button>        
        </ion-col>
        <ion-col>
          <ion-button (click)="EnviarPedido()" expand="block" color="success">Enviar <ion-icon style="margin-left: 3%;" name="paper-plane"></ion-icon></ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-list>

</ion-content>