

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 13px;"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <img [src]="verHome.featured_image.size_large">    
    <h3 style="text-align: center;" [innerHTML]="verHome.title.rendered"></h3> 
    <p class="textLista" style="text-align:justify;font-size:15px;padding:5%" [innerHTML]="verHome.content.rendered"></p>  
  </ion-col>

  <ion-col style="display: flex;align-items: center;">
    <ion-label style="text-align: center;">Envia tu comentario sobre EMPANADAS BAR, recibiremos tus sugerencias de la mejor manera</ion-label>
  </ion-col>

  <ion-col>
    <ion-Button routerLink="/comentario" style="margin-top: 5%;" expand="block" fill="outline" color="success">Comentario</ion-Button> 
  </ion-col>
 
</ion-content>
