

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Tire para Actualizar" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="home">
    <ion-card style="padding: 0px;margin-top:12%;" *ngFor="let item of home;let i = index">
      <div (click)="verHome(item)" *ngIf="!item.title.rendered == ''">
        <img [src]="item.featured_image.size_large">
        <h3 style="text-align: center;" [innerHTML]="item.title.rendered"></h3>
        <h4 style="text-align: center;">Precio: ${{precio[i].precio | number}}</h4>
        <div style="text-align:justify;font-size:15px;padding:5px;" [innerHTML]="item.excerpt.rendered | slice:0:150">
        </div>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div></div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button *ngIf="!verificarCantidad(i)" 
                (click)="agregarCarrito(item.id,precio[i].precio,item.title.rendered,item.featured_image.size_large,i)"
                style="float: right" size="small">Agregar
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-col style="background: #6c6e70;float: right;border-radius: 5px;padding:0px"
                *ngIf="verificarCantidad(i)">
                <ion-grid style="padding: 0px">
                  <ion-row>
                    <ion-col>
                      <div>
                        <ion-icon (click)="restar(i,item.cantidad,item.id)" style="font-size: 30px;color: white;margin-left: 6%;"
                          name="remove-circle"></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div style="margin-top: 6%;">
                        <ion-label style="font-size: 20px;color: white;margin-left: 28%;width: 100%;">
                          {{item.cantidad >=0 ? item.cantidad : 0}}</ion-label>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-icon (click)="sumar(item.id,i,item.cantidad)"
                          style="font-size: 30px;color: white;float: right" name="add-circle"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="home.length == 0">
    <ion-list>
      <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7]" detail>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 44%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 22%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab *ngIf="home.length > 0" vertical="top" horizontal="start" slot="fixed" (click)="presentModal()">
    <ion-fab-button class="start-btn" color="danger">
      <ion-icon class="iconSize" style="color: white" name="color-fill"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="home.length > 0" vertical="top" horizontal="end" slot="fixed" (click)="pedido()">
    <ion-fab-button style="position: relative;"  class="start-btn" color="medium">
      <ion-icon style="font-size: 40px;color: white;margin-left: -5%;position: absolute;" name="cart"></ion-icon>
      <ion-badge style="margin-top: -65%;z-index: 1000 !important;margin-left: 6%" color="danger">{{total ? total : cero}}</ion-badge>
    </ion-fab-button>
  </ion-fab> 

</ion-content>

<app-tab *ngIf="home"></app-tab>