<!-- <ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
          <ion-icon (click)="dismiss()" style="font-size: 30px;color: white" name="close-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-row>
    <ion-col>
      <ion-icon (click)="dismiss()" style="font-size: 40px;color:#ed455f;margin-left: 2%;margin-top:13%;" name="close-circle-outline"></ion-icon>
    </ion-col>
  </ion-row>

      <ion-card style="padding: 0px;" *ngFor="let item of modal;let i = index">
        <img [src]="item.featured_image.size_large">    
        <h3 style="text-align: center;" [innerHTML]="item.title.rendered"></h3>  
        <div style="text-align:justify;font-size:15px;padding:5px;" [innerHTML]="item.content.rendered"></div>
      </ion-card>
  
      <ion-col style="display: flex;align-items: center;">
        <ion-label style="text-align: center;">Envia tu comentario sobre EMPANADAS BAR, recibiremos tus sugerencias de la mejor manera</ion-label>
      </ion-col>
    
      <ion-col>
        <ion-Button (click)="EnviarComentario()" style="margin-top: 5%;" expand="block" fill="outline" color="success">Comentario</ion-Button> 
      </ion-col>
    
</ion-content> 
