


<ion-content>

  <ion-col *ngFor="let item of imagenes;let i = index">
    <img [src]="item.featured_image.size_large">    
    <h3 style="text-align: center;" [innerHTML]="item.title.rendered"></h3> 
    <p class="textLista" style="text-align:justify;font-size:15px;padding:5%" [innerHTML]="item.content.rendered"></p>  
  </ion-col>

</ion-content>

<app-tab></app-tab> 
