

<ion-tab-bar>
  <ion-tab-button routerLink="/inicio" tab="home">
    <ion-label>Inicio</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/galeria" tab="play">
    <ion-label>Galería</ion-label>
    <ion-icon name="images"></ion-icon> 
  </ion-tab-button>
  <ion-col> 
    <a href="https://wa.me/+1(832)973-2385"><ion-icon style="font-size:38px;color:#67dd56" name="logo-whatsapp"></ion-icon></a>
  </ion-col>
  <ion-tab-button routerLink="/comentario" tab="people"> 
    <ion-label>Comentario</ion-label>
    <ion-icon name="create"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/contacto" tab="contact">
    <ion-label>Contacto</ion-label>
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
