

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 13px;"><ion-icon style="font-size: 30px;" name="mail-open"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-label style="display: flex;justify-content: center;margin-top: 5%;padding:5%;text-align:justify">Deja tu comentario sobre EMPANADAS BAR 
      la que ofrece vital información.
    </ion-label>

    <ion-item style="margin-top: 4%;">
      <ion-label position="stacked">Nombres <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="nombres" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="telefono" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo electronico <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mensaje <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea [(ngModel)]="mensaje" type="text"></ion-textarea>
    </ion-item>

    <section class="full-width" style="margin-top: 10%;">
      <ion-button (click)="EnviarDatos()" expand="full" color="success">Enviar <ion-icon style="margin-left: 3%;" name="paper-plane"></ion-icon></ion-button>
    </section>

  </ion-grid>

</ion-content>

<app-tab></app-tab>
