

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-card style="padding: 0px;margin-top: 12%;" *ngFor="let item of contact;let i = index">
    <img [src]="item.featured_image.size_large" width="100%">     
    <h3 style="text-align: center;" [innerHTML]="item.title.rendered"></h3>  
    <div style="text-align:justify;font-size:15px;padding:5px;" [innerHTML]="item.excerpt.rendered"></div> 
  </ion-card>

<ion-col style="display: flex;justify-content: center;"> 
  <a href="https://wa.me/+1(832)973-2385"><ion-button color="success" expand="block"><ion-icon style="color: #fff" name="logo-whatsapp"></ion-icon></ion-button></a>
  <ion-button (click)="abrirFacebook()" color="primary" expand="block"><ion-icon style="color: #fff" name="logo-facebook"></ion-icon></ion-button>
</ion-col>

<ion-grid style="margin-top: 2%;">
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-icon style="font-size: 35px;" name="mail"></ion-icon><p>Info@empanadas.bar</p>
    </ion-col>
    <ion-col style="text-align: center;">
      <ion-icon style="font-size: 35px;" name="call"></ion-icon><p>844-674-5622</p>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

<app-tab></app-tab>
